body {
    background: #E5E5E5;
}

img {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
}

div {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 830px;
    top: 136px; 
}

#lorem {width: 380px;
    height: 50px;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 50px/2 - 319px);
    
    /* T1 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    /* or 50px */
    
    
    /* Dark #1 */
    
    color: #121212;
}

#text {
    
    width: 380px;
    height: 96px;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 96px/2 - 222px);

    /* Body Copy */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    /* Dark #1 */

    color: #121212;
}

button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;


    width: 128px;
    height: 48px;
    left: 830px;
    top: 338px;

    /* Primary #1 */

    background: #E4C1AE;
    border-radius: 60px;
    border: white;
}

#section_shadow {
    -webkit-transform: scale(0);
            transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7bbbb00;
    opacity: 0.5;
  }

#section_shadow.active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#popUp  {
    font-weight: 300;
    line-height: 150%;
    font-size: 12px;
    text-align: center;
    height: 15%;
    width: 15%;
    background-color: #E4C1AE;
    opacity: 0.75;
    
  }